<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for page in site.pages %}{% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endfor %}
                    <!-- <li>
                        <a href="http://blog.tranduycanh.com" target="_blank">Blog Tiếng việt</a>
                    </li> -->
                </ul>
            </div>
    </div>
</nav>
