body {
    position: relative;
    border-top: 3px solid #c05b4d;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-height: 100%;
    max-width: 100%;
}

::selection {
    background: #c05b4d;
    color:#fff;
}

a {
    color: #34495e;
    text-decoration: none;
    background-color:transparent;
}

table {
  @extend .table;
}

.sidebar-about {
    max-width: 100%;
    font-size: 0.75em;
    line-height: 1.5;
}
.sidebar-about .page-header {
    border-bottom: none;
}

.author-header img {
    max-width: 50%;
}

.author ul{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

.author li {
    white-space: nowrap;
    list-style: none;
}

.author a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none;
}

.affix{
    top: 20px;
}

.tags {
    font-size: 0.75em;
}

/*Home page article style*/
article a:hover {
    text-decoration: none;
}

article {
    border-bottom: 1px solid #e6e6e6;
    padding: 1em 0;
}

article .post-header {
    margin-bottom: 15px;
}

article .post-header .post-title {
    font-weight: 400;
}

article .post-header .post-link {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-box-shadow:0 0 1px transparent;
    box-shadow:0 0 1px transparent;
    position:relative;
    overflow:hidden;
    line-height: 27px;
}

article .post-header .post-link::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 2px;
    bottom: 0;
    left: 51%;
    right: 51%;
    background: #c05b4d;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: right,left;
    transition-property: right,left;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

article .post-header .post-link.active::before,
article .post-header .post-link:active::before,
article .post-header .post-link:focus::before,
article .post-header .post-link:hover::before {
    right:0;
    left:0
}

article .post-header .post-meta {
    font-size: 14px;
    color: #8a8a8a;
}

article .post-content .read-more .read-more-link {
    color: #c05b4d;
    font-size: 1.1em;
    font-family: Athelas,STHeiti,Microsoft Yahei,serif;
}

article .post-content .read-more .read-more-link:hover {
    border-bottom: 1px solid #c05b4d;
}

.archive__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: 1em;
}
hr.artile_seperate {
    border-top: none;
}

.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #bdc1c4;
    border-radius: 4px;
}

.previous:hover, .next:hover {
    background: #f5f5f5;
}

.pager a:hover {
    text-decoration: none;
}

@media(max-width: 1200px){
    .affix{
        position: relative !important;
    }
  }

@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }
}
